[Unit]
Description=zfs plugin
After=zfs-mount.service zfs-import-cache.service
Before=docker.service
Requires=zfs-mount.service zfs-import-cache.service

#Recommended condition for each pool you intend to use
ConditionPathIsMountPoint=/var/lib/docker/volumes


[Service]
ExecStart=/usr/bin/docker-zfs-plugin --dataset-name rpool/DATA/docker-volumes

[Install]
WantedBy=docker.service
